{% extends "skeleton.html" %}

{% block bodycontent %}

<a href="/about_us"><font color="white" size="6">|</font><font color="44D9F2" size="6">About Us</font></a>
&nbsp&nbsp&nbsp&nbsp<br><br>

<div style="max-width:700px; text-size:110%;">
<font color="white">
We search for patterns again, again and again everyday, whether it's chart patterns, candle patterns. We 
strive to be the best stock pattern searcher in the world. Right now, we are focused on machine-searching for
chart patterns, candle patterns. In the future, we want to include machine-searching for volumn patterns, indicator
patterns, and also expand the searching timeframe from days to mins, hours, or even weeks. <br><br>

What differentiate us from other stock pattern search sites are:
<ul>
<li>The ability to search patterns yourself</li>
<li>Number of patterns in our database: You can search for any patterns within the last 30 days</li>
<li>Types of patterns: we include both long and short patterns in the search, so you don't have to pay twice</li>
<li>Different patterns: Chart Patterns, Candle Patterns, Indicator Patterns(coming soon), Volume Patterns(coming soon), etc</li>
<li>Affordable and flexible plan($7/week or $17/month) compare to other stock pattern sites which can range from $29/month to $797/year
</ul>
We believe that trading is an expensive hobby/career, and we want to provide our members with the most valuable/flexible service, 
so they don't have to waste time/money on searching patterns and focus better on their current/future trades. <br><br>
If you have any questions/suggestions regarding your membership or our service, please don't hesitate to <a href="/contact_us"><i>contact us</i></a>. 
</font>
</div>

{% endblock %}