<html>
<head>
<title>W-Stocks Community</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" rel="stylesheet" href="stylesheets/index.css" />
</head>
<body>
<STYLE TYPE="text/css">
a:link { color: white; border-bottom: 1px dotted;}
a:hover { color: white; text-decoration: none;}
a:visited { color: white; }
</STYLE>
<img id="logo" height=112.5px width=300px src="images/w-logo.png" alt="logo"/>
<br><br>

<font color=white size=5>
We detected that you're not using our default browser Chrome. <br>
For a better user experience, please download Chrome <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">here</a> and continue. Thank You.
<br><br>
W-Stocks Team
</font>

</body>
</html>