{% extends "skeleton.html" %}

{% block bodycontent %}

<a href="/privacy_statement"><font color="white" size="6">|</font><font color="44D9F2" size="6">FYI</font></a>
&nbsp&nbsp&nbsp&nbsp<br><br> 

<div style="max-width:700px; text-size:120%;">
<font color="white">

<ol>
<li> Why do the layout of this web application look weird?<br><br>To view this application in the correct layout, please use our default browser which is Chrome. If you don't 
   have Chrome, you can download it <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><i>here</i></a>.</li>
<br>
<li> Why does the time displayed on the past patterns and search patterns page different than the regular trading days?<br><br>
	Because we use UTC time which is more convenient and universal for members all over the world. UTC time is 5 hours ahead of the 
	eastern standard time. To understand more about UTC time, <a href="http://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank"><i>click here</i></a>. </li>
<br>
<li> Will W-Stocks.com provide stock patterns other than the US stock market? <br><br>
	Yes, in the near future, we will try to expand our stock pattern search to other stock markets such as the London Stock Market, Hong Kong Stock Market, Autstralia Stock Market, Frankfurt Stock Market, Japan Stock Market, Singapore Stock Market, etc.
</li><br>
<li> Why do you guys charge such a low fee compared to other stock pattern sites? <br><br>
	 Because we believe that every investor/trader has the right to access the information they need/want in order to become a successful
	 trader. We try to bring our fee as low as possible, so that this right comes true to all investors/traders and potential ones when
	 it comes to stock pattern search. 
</li><br>
<li> Is it safe to use credit card on your site? <br><br>
	Yes, it is completely safe to use your credit card on our site. We use a third-party credit card transaction provider called
	stripe. They provide one of the most secure credit card transaction service in the world. To view some of their other clients 
	click <a href="https://stripe.com/gallery" target="_blank"><i>here</i></a>. 
</li><br>
<li>How do I cancel my plan? <br><br>
	All plans when first purchased are non-recurring unless you check the automatically renew box and submitted it. To cancel a 
	plan, simply click the submit button below the plans table with the automatically renew box unchecked. 
</li><br>
	

</ol>
<br>

 

{% endblock %}
