{% extends "skeleton.html" %}

{% block bodycontent %}

<a href="/privacy_statement"><font color="white" size="6">|</font><font color="44D9F2" size="6">Privacy Statement</font></a>
&nbsp&nbsp&nbsp&nbsp<br><br> 

<div style="max-width:700px; text-size:120%;">
<font color="white">

W-Stocks.com recognizes and understands the importance of protecting the privacy of all information(including but not limited to name, email, 
credit card number) provided by our members of W-Stocks.com <br><br>

W-Stocks.com will not sell, reveal, barter or exchange any personal information that members provide to us to any third party with the exception
of stripe.com which is the provider of our payment system. Please read the <a href="https://stripe.com/ca/privacy#1" target="_blank"><i>privacy policy</i></a> of Stripe.com to better understand how Stripe.com
protects their users' private information. <br><br>

This Privacy Statement is our(W-stocks.com) assurance that any third parties, with the exception of our payment provider stripe.com, will not 
get ahold of your private information(including but not limited to name, email, credit card number) in any way. <br><br>

If you have any questions/concerns regarding your privacy using our services, please do not hesitate to <a href="/contact_us"><i>contact us</i></a>. 
</font>
</div>

{% endblock %}