{% extends "skeleton.html" %}

{% block bodycontent %}


<font color="white" size="6">|</font><font color="44D9F2" size="6">Sign Up - </font> <font color="44D9F2" size="4">It's free and start viewing more new patterns everyday.</font>
&nbsp&nbsp&nbsp&nbsp

<br><br><br>

<form method="post" action="/sign_up">
<div id="text_area">
{% if web_message %}
	{{ web_message }}
{% else %}
	<input type="text" name="name" placeholder="Name - must be letters or numbers" style="width:300px;font-size:100%;padding: 2px;"/><br>
	<input type="text" name="email" placeholder="Email - example@example.com" style="width:300px;font-size:100%;padding: 2px;"/><br>
	{% if email_message %}
		{{ email_message }}
	{% endif %}
	<input type="text" name="password" placeholder="Password - must be letters or numbers" style="width:300px;font-size:100%;padding: 2px;"/>
{% endif %}
</div>
<input type="submit" value="Submit" style="width:70px; height:30px;font-size:100%;"/>
</form>

<br>
<font color="white" size="6">-</font><font color="44D9F2" size="6">Or</font><font color="white" size="6">-</font>
<br><br><br>

<div id="open_id_login">

<div id="gmail_login">
<a href="{{ gmail_login }}">
<table>
<tr>
<td><img src="images/gmail.png" height=30px width=30px/></td>
<td><font size="3"><b>Login with Gmail</b></font></td>
</tr>
</table>
</a>
</div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<div id="yahoo_login">
<a href="{{ yahoo_login }}">
<table>
<tr>
<td><img src="images/yahoo.png" height=30px width=30px/></td>
<td><font size="3"><b>Login with Yahoo</b></font></td>
</tr>
</table>
</a>
</div>

</div>

<br><br><br>
<p>*A copy of your password and the verification code will be sent to your email.</p>

{% endblock %}
