<html>
<head>
<title>W-Stocks Community</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" rel="stylesheet" href="stylesheets/index.css" />
</head>
<body>
<a href="/"><img id="logo" height=112.5px width=300px src="images/w-logo.png" alt="logo"/></a>
<br><br>

<font color=white>{{ symbol }}</font><font color=white> {{ volume }}</font>
<div class="chart">
<!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 676,
  "height": 300,
  "symbol": "{{ symbol }}",
  "interval": "D",
  "toolbar_bg": "#E4E8EB",
  "save_image": false
});
</script>
<!-- TradingView Widget END -->
</div>
<div style="margin-top:0.1cm;display:inline;position:absolute;left:15.7cm;">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.w-stocks.com/?volume={{ volumn }}&symbol={{ symbol }}" data-text="{{ pattern.symbol }} is showing a {{ pattern.pattern_name }} pattern" data-via="peteratpppyo" data-hashtags="{{ pattern.symbol }}, {{ pattern.pattern_name }}, stocks, w-stocks, stockpatterns">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
	
</body>
</html>
	
	