<html>
<head>
<title>W-Stocks Community</title>
<meta charset="utf-8">
</head>
<body>
  	<STYLE TYPE="text/css">
	a:link { color: white; text-decoration: none; }
	a:hover { color: white; border-bottom: 1px dotted; }
	a:visited { color: white; }
	</STYLE>
	  	<div id="logo">
  		<img id="logo" height=112.5px width=300px src="www.w-stocks.com/images/w-logo.png" alt="logo"/>
  	</div>
  	<br>
  	<font size="3">
  	Thank you for registering with W-stocks Community. Please verify your email within 24 hours. 
  	If you have any questions regarding renewing or your plan, please don't hesitate to contact us. 
  	{{ email_message }}</font>
  	<br>
  	<font color="44D9F2" size="4">W-stocks Team</font>
</body>